# Docker files #
################
Dockerfile
.dockerignore

# Git files #
#############
.git*

# Documentation files #
#######################
*.md
LICENSE

# Build files #
###############
*.log
app/node_modules
.npm*

# OS files #
#############
Thumbs.db
.DS_Store
.vscode
